<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="navbar-container">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary" style="background-color: rgb(39, 43, 51); height: 80px;">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" matTooltip="Home">
      <h1>
        Napster
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        User Name
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container>
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="false" [mode]="'side'" [fixedInViewport]="true" fixedTopGap="68" style="background-color: rgb(39, 43, 51);">

      <mat-nav-list>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <form (ngSubmit)='handleSearch()'><input matInput type="text" name="searchString" [(ngModel)]='searchString'></form>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <a mat-list-item [routerLink]="['/newReleases']">
          <mat-icon mat-list-icon>
            library_music
          </mat-icon>
          <p mat-line> New Releases </p>
        </a>

        <a mat-list-item [routerLink]="['/playlists']">
          <mat-icon mat-list-icon>
            playlist_play
          </mat-icon>
          <p mat-line> Playlists </p>
        </a>

        <a mat-list-item [routerLink]="['/artists']">
          <mat-icon mat-list-icon>
            subject
          </mat-icon>
          <p mat-line> Your Library </p>
        </a>

        <a mat-list-item [routerLink]="['/artists']">
          <mat-icon mat-list-icon>
            person
          </mat-icon>
          <p mat-line> Favourite Artists </p>
        </a>

        <a mat-list-item>
          <mat-icon mat-list-icon>
            audiotrack
          </mat-icon>
          <p mat-line> Favourites Tracks</p>
        </a>

        <a mat-list-item>
          <mat-icon mat-list-icon>
            playlist_add_check
          </mat-icon>
          <p mat-line> Saved Playlists</p>
        </a>

        <mat-divider></mat-divider>

        <a id="push-bottom" mat-list-item [routerLink]="['/about']">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line> About </p>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" style="background-color:rgb(10, 12, 16);">

      <!-- Main content -->
      <router-outlet></router-outlet>
      <!-- ------------ -->

      <footer className='footer'>
        <div className='footer-inner'>
          <hr class="white">
          Made by Smit Gabani
        </div>
      </footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>